.pagination {
  margin: 0;
}

.pagination li:hover {
  cursor: pointer;
}

.header-wrap {
  padding: 50px 0;
}

.num-rows {
  width: 20%;
  float: left;
}

.tb-search {
  width: 20%;
  float: right;
}

.pagination-container {
  width: 50%;
  float: left;
}

.rows-count {
  width: 50%;
  float: right;
  text-align: right;
  color: #999;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table-container table {
  display: block;
	position: relative;
	overflow: auto;
	min-height: 50vh;
	max-height: 80vh;
}

.table-container th,
.table-container td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-container th {
  font-weight: bold;
}

.table-container tbody tr:hover {
  background-color: #f5f5f5;
}

.highlight {
  background-color: #f5f5f5;
}

.table > thead > tr > th:not(:first-child),
.table > tbody > tr > td:not(:first-child) {
	min-width: 100px;
  max-width: 500px;
}